.header {
  font-size: 1.2rem;
  color: green;
  margin-bottom: 32px;
  text-align: center;
}

.emptyMessage {
  font-size: 1rem;
  text-align: center;
  color: #39413F;
  line-height: 1.8;
}

.myPokemonList {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  list-style-type: none;
}

.myPokemonListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myPokemonListItemLink {
  text-decoration: none;
}

.myPokemonListItemNickname {
  font-size: 1rem;
  color: #39413F;
  margin-bottom: 12px;
  text-align: center;
}

.myPokemonListItemName {
  font-size: 0.6rem;
  color: green;
  text-align: center;
}

.myPokemonListItemRelease {
  font-size: 0.4rem;
}